.heading
{	text-align: center;
	margin-top: 20px;
	font-size: 28px;
	font-weight: normal;
}
#selectLanguage
{
	text-align: center;
	margin-top: 20px;
}
.container-1
{
	text-align: center;
	margin-top: 20px;
}
