.heading
{	text-align: center;
	margin-top: 20px;
	font-size: 28px;
	font-weight: normal;
}
#selectCorpus
{
	text-align: center;
	margin-top: 20px;
	padding: 2px 2px 2px 2px;
}
#corpusDiv
{
	margin:60px 60px 60px 60px;
	padding: 2px 2px 2px 2px;
}